{{ form_start(form) }}
    {{ form_errors(form) }}

<div>
    {{ form_label(form.title) }}

</div>

<div>
    {{ form_label(form.description) }}

</div>

<div>
    {{ form_widget(form.save) }}
</div>

{{ form_end(form) }}